<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Activ4PetsPMS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6D088191F4405C9002B7940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6D088301F4405CA002B7940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6D0883B1F4405CA002B7940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
